<div class="sectionOne">
  <img class="coverPic" src="./assets/img/03.png" />
  <div class="header">
    <img class="logo" src="./assets/img/24.png" />
    <div class="icon-div">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
      <i class="fa fa-youtube" aria-hidden="true"></i>
      <i class="fa fa-bars ham" aria-hidden="true"></i>
    </div>
    <div class="content">
      <div class="col-md-6 col-sm-6 text-content">
        <h1>We are</h1>
        <h1>Business Catalyst</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <img class="laptop" src="./assets/img/02.png" />
        <img class="human" src="./assets/img/01.png" />
      </div>
    </div>
  </div>
</div>
