.main-content {
  margin-top: 13%;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.main-content h3 {
  text-align: center;
  color: #615f5f;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.main-content p {
  text-align: center;
  color: #615f5f;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

hr {
  border-top: 1px solid rgba(126, 110, 95, 0.23);
}

.services {
  margin-top: 60px;
}

.services p {
  cursor: pointer;
  text-align: center;
  color: #615f5f;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.services p:hover {
  color: purple !important;
  font-size: 15px;
}

.service-details {
  margin-top: 5%;
  width: 60%;
  margin-left: 20%;
}

.image-div {
  background-color: #ececec;
  position: absolute;
  background-color: #ececec;
  position: absolute;
  width: 59%;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.team-pic {
  width: 40%;
}

.service-description {
  background-color: white;
  padding: 20px;
  width: 70%;
  margin-left: 25%;
  position: relative;
  margin-top: 7%;
  height: 250px;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.service-description p {
  color: #615f5f;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.service-description h1 {
  color: #615f5f;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.small-hr {
  width: 20%;
  float: left;
  margin-bottom: 0px;
  margin-top: 0px;
}

.service-description a {
  color: #615f5f;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
}

.service-description a i {
  font-size: 15px;
  padding-left: 3px;
}

.selected-service {
  color: purple !important;
  border-bottom: 1px solid;
  padding-bottom: 6px;
  border-width: 2px;
}

.bottom-hr {
  margin-top: 39px;
}

@media only screen and (max-width: 1142px) {
  .service-description h1 {
    font-size: 20px;
    margin-top: 0px;
  }
  .service-description {
    height: 224px;
  }
}

@media only screen and (max-width: 1017px) {
  .service-description {
    height: 200px;
  }
  .service-description p {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 912px) {
  .service-more-details {
    display: none;
  }
  .service-description h1 {
    font-size: 15px;
    margin-top: 0px;
  }
  .service-description {
    height: 145px;
  }
}

@media only screen and (max-width: 767px) {
  .main-content {
    margin-top: 19%;
  }
  .bottom-hr {
    margin-top: 0px;
  }
  .image-div {
    width: 100%;
  }
  .service-details {
    margin: 0%;
    padding-left: 0px;
    width: 100%;
  }
  .services {
    margin-top: 6px;
  }
}
