<div class="sectionTwo">
  <!-- main content -->
  <div class="main-content">
    <h3>Our services and expertices</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <p>Lorem Ipsum has been the industry's standard</p>
  </div>
  <!-- services details -->
  <div class="services container">
    <hr>
    <!-- service headigs -->
    <div class="col-md-2 col-sm-2">
      <p>Enterprise Application Development</p>
    </div>
    <div class="col-md-2 col-sm-2">
      <p>Complete Managed Services</p>
    </div>
    <div class="col-md-2 col-sm-2">
      <p class="selected-service">Business Intelligence Services</p>
    </div>
    <div class="col-md-2 col-sm-2">
      <p>UX Design & CX Consultancy</p>
    </div>
    <div class="col-md-2 col-sm-2">
      <p>Automated Testing Solutions</p>
    </div>
    <div class="col-md-2 col-sm-2">
      <p>Technologies</p>
    </div><br/><br/>
    <hr class="bottom-hr">
  </div>
  <!-- service description -->
  <div class="service-details container">
    <div class="image-div">
      <img class="team-pic" src="./assets/img/04.png" />
    </div>
    <!-- service complete details -->
    <div class="service-description">
      <p>We are expertices in</p>
      <h1>Business Intelligence Services</h1>
      <hr class="small-hr"><br/>
      <p class="service-more-details">Identify inefficient business processes that are ripe for re-engineering, also realize new business opertunities</p>
      <br/>
      <a href="">More Details <i class="fa fa-caret-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
